body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: aqua;
  min-height: 100vh;
  border-bottom: 5px solid white;
}

nav {
  background-color: white ;
  height: 6rem;
  display: flex;
  align-items: center;
  padding-right: 4rem;
}

nav ul {
  display: flex;
  margin-left: auto;
  gap: 3.5rem;
}

ul li {
  list-style: none;
  display: inline-block;
  padding: 1rem 3rem;
  background-color: blue;
  border-radius: 20px;
}

.logo-container {
  width: 70px;
  height: 70px;
}

.logo-container img {
  width: 100%;
  height: 100%;
  border-radius: 40px;
  margin-left: 1.5rem;
  object-fit: cover;
}

section {
    min-height: 100vh;
}

.section-1 {
  background-color: aquamarine;
  border-bottom: 5px solid white;
}

.section-2 {
  background-color: bisque;
}

footer {
  background-color: black;
  padding: 1rem;
}