body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: aqua;
  min-height: 100vh;
  border-bottom: 5px solid white;
}

nav {
  background-color: white ;
  height: 6rem;
}

ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}

section {
    min-height: 100vh;
}

.section-1 {
  background-color: aquamarine;
  border-bottom: 5px solid white;
}

.section-2 {
  background-color: bisque;
}

footer {
  background-color: black;
  padding: 1rem;
}